# Data transformation

In [42]:
import pandas as pd
from numpy import mean
#import os
from functools import reduce

In [3]:
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', None)  # or 199

## Load the data

In [6]:
characters_g = pd.read_pickle('chatacter_data/genderized/characters_genderized.pckl')
#characters_g

In [7]:
movies = pd.read_pickle('movies_data/movies_df.pckl')
#movies

## Clean the data

In [8]:
# remove all movies that do not have a year
movies_clean = movies.loc[pd.to_numeric(movies['year'], errors='coerce').notnull()]
#souce: https://www.py4u.net/discuss/13840

In [9]:
print(f"{round((len(movies)-len(movies_clean))/len(movies)*100)}% of movies have no year.")

2% of movies have no year.

In [10]:
# remove all characters where the gender is not known
characters_clean = characters_g.loc[logical_not(logical_or(characters_g['gender']=='unknown' ,  
                                                           characters_g['gender'].isnull()))]
print(f"{round((len(characters_g)-len(characters_clean))/len(characters_g)*100)}% of characters have no gender.")

25% of characters have no gender.

In [70]:
movies_clean.to_pickle('movies_data/movies_clean_df.pckl')
characters_clean.to_pickle('chatacter_data/genderized/characters_genderized_clean_df.pckl')

## Transform the data

In [11]:
movies = pd.read_pickle("movies_data/movies_clean_df.pckl")
characters = pd.read_pickle('chatacter_data/genderized/characters_genderized_clean_df.pckl')

**Goals**

I'm looking for something like this:

````python
plot_data_number_of_characters_m_f = []
plot_data_occurence_of_characters_m_f = []
plot_data_character_word_count_m_f = []

analysis = ["movie_id",
            "movie_year",
            "character_count_total",
            "character_percentage_m",
            "character_percentage_f", 
            "character_occourence_total",
            "character_occourence_m_percentage",
            "character_occourence_f_percentage",
            "word_count_total",
            "word_percentage_dialouge_m",
            "word_percentage_dialouge_f"]
````

***
### character counts

In [17]:
movie_character_count = characters[['movie_id','character_id']]\
                        .groupby(['movie_id'])\
                        .size().reset_index(name='character_count')
movie_character_count.head()

   movie_id  character_count
0  100000.0                8
1  100001.0                2
2  100002.0                9
3  100003.0                6
4  100004.0                7

In [18]:
movie_f_counts = characters[['movie_id','character_id', 'gender']]\
                    .loc[characters['gender']=='female']\
                    .groupby(['movie_id', 'gender'])\
                    .size().reset_index(name='female_count')\
                    [['movie_id', 'female_count']]

movie_f_counts.head()

   movie_id  female_count
0  100000.0             3
1  100002.0             3
2  100004.0             1
3  100005.0             3
4  100006.0             1

In [19]:
movie_m_counts = characters[['movie_id','character_id', 'gender']]\
                    .loc[characters['gender']=='male']\
                    .groupby(['movie_id', 'gender'])\
                    .size().reset_index(name='male_count')\
                    [['movie_id', 'male_count']]
movie_m_counts.head()

   movie_id  male_count
0  100000.0           5
1  100001.0           2
2  100002.0           6
3  100003.0           6
4  100004.0           6

***
### word counts

In [20]:
movie_word_counts_total = characters[['movie_id','word_count']]\
                            .groupby(['movie_id'])\
                            .sum().reset_index()
movie_word_counts_total.head()

   movie_id  word_count
0  100000.0      7482.0
1  100001.0         2.0
2  100002.0      5867.0
3  100003.0     10329.0
4  100004.0      6233.0

In [21]:
movie_word_counts_m = characters[['movie_id', 'gender', 'word_count']]\
                    .loc[characters['gender']=='male']\
                    .groupby(['movie_id', 'gender'])\
                    .sum().reset_index()\
                    [['movie_id','word_count']]\
                    .rename({'word_count':'word_count_m'}, axis='columns')

movie_word_counts_m.head()

   movie_id  word_count_m
0  100000.0        3995.0
1  100001.0           2.0
2  100002.0        3919.0
3  100003.0       10329.0
4  100004.0        5889.0

In [22]:
movie_word_counts_f = characters[['movie_id', 'gender', 'word_count']]\
                    .loc[characters['gender']=='female']\
                    .groupby(['movie_id', 'gender'])\
                    .sum().reset_index()\
                    [['movie_id','word_count']]\
                    .rename({'word_count':'word_count_f'}, axis='columns')
movie_word_counts_f.head()

   movie_id  word_count_f
0  100000.0        3487.0
1  100002.0        1948.0
2  100004.0         344.0
3  100005.0         517.0
4  100006.0         357.0

***
### character occourences

In [23]:
character_occourences_total = characters[['movie_id', 'occourences']]\
                    .groupby(['movie_id'])\
                    .sum().reset_index()\
                    [['movie_id','occourences']]\
                    .rename({'occourences':'characters_occourences'}, axis='columns')
character_occourences_total.head()

   movie_id  characters_occourences
0  100000.0                   882.0
1  100001.0                     2.0
2  100002.0                   592.0
3  100003.0                   502.0
4  100004.0                   389.0

In [24]:
character_occourences_f = characters[['movie_id','gender','occourences']]\
                    .loc[characters['gender']=='female']\
                    .groupby(['movie_id','gender'])\
                    .sum().reset_index()\
                    [['movie_id','occourences']]\
                    .rename({'occourences':'characters_occourences_f'}, axis='columns')
character_occourences_f.head()

   movie_id  characters_occourences_f
0  100000.0                     389.0
1  100002.0                     189.0
2  100004.0                      22.0
3  100005.0                      49.0
4  100006.0                      31.0

In [25]:
character_occourences_m = characters[['movie_id','gender','occourences']]\
                    .loc[characters['gender']=='male']\
                    .groupby(['movie_id','gender'])\
                    .sum().reset_index()\
                    [['movie_id','occourences']]\
                    .rename({'occourences':'characters_occourences_m'}, axis='columns')
character_occourences_m.head()

   movie_id  characters_occourences_m
0  100000.0                     493.0
1  100001.0                       2.0
2  100002.0                     403.0
3  100003.0                     502.0
4  100004.0                     367.0

***
### Combine tables and create calculated columns

In [26]:
analysis_content = [movies[['movie_id','year']], 
                    movie_character_count,
                    movie_m_counts, 
                    movie_f_counts, 
                    movie_word_counts_total,
                    movie_word_counts_m,
                    movie_word_counts_f,
                    character_occourences_total,
                    character_occourences_f,
                    character_occourences_m]
analysis = reduce(lambda left,right: pd.merge(left,right,on='movie_id'), analysis_content)
#source: https://stackoverflow.com/questions/23668427/pandas-three-way-joining-multiple-dataframes-on-columns
analysis.head()

,movie_id,year,character_count,male_count,female_count,word_count,word_count_m,word_count_f,characters_occourences,characters_occourences_f,characters_occourences_m
0,100000,1997,8,5,3,7482.0,3995.0,3487.0,882.0,389.0,493.0
1,100002,2004,9,6,3,5867.0,3919.0,1948.0,592.0,189.0,403.0
2,100004,2013,7,6,1,6233.0,5889.0,344.0,389.0,22.0,367.0
3,100005,2010,5,2,3,3324.0,2807.0,517.0,151.0,49.0,102.0
4,100006,1991,7,6,1,7556.0,7199.0,357.0,429.0,31.0,398.0

In [27]:
# add male character percenrage
analysis['male_character_percentage'] = round((analysis['male_count']/analysis['character_count'])*100,2)
analysis.head()

,movie_id,year,character_count,male_count,female_count,word_count,word_count_m,word_count_f,characters_occourences,characters_occourences_f,characters_occourences_m,male_character_percentage
0,100000,1997,8,5,3,7482.0,3995.0,3487.0,882.0,389.0,493.0,62.50
1,100002,2004,9,6,3,5867.0,3919.0,1948.0,592.0,189.0,403.0,66.67
2,100004,2013,7,6,1,6233.0,5889.0,344.0,389.0,22.0,367.0,85.71
3,100005,2010,5,2,3,3324.0,2807.0,517.0,151.0,49.0,102.0,40.00
4,100006,1991,7,6,1,7556.0,7199.0,357.0,429.0,31.0,398.0,85.71

In [28]:
# add female character percentage
analysis['female_character_percentage'] = round((analysis['female_count']/analysis['character_count'])*100,2)
analysis.head()

,movie_id,year,character_count,male_count,female_count,word_count,word_count_m,word_count_f,characters_occourences,characters_occourences_f,characters_occourences_m,male_character_percentage,female_character_percentage
0,100000,1997,8,5,3,7482.0,3995.0,3487.0,882.0,389.0,493.0,62.50,37.50
1,100002,2004,9,6,3,5867.0,3919.0,1948.0,592.0,189.0,403.0,66.67,33.33
2,100004,2013,7,6,1,6233.0,5889.0,344.0,389.0,22.0,367.0,85.71,14.29
3,100005,2010,5,2,3,3324.0,2807.0,517.0,151.0,49.0,102.0,40.00,60.00
4,100006,1991,7,6,1,7556.0,7199.0,357.0,429.0,31.0,398.0,85.71,14.29

In [29]:
# add word count percentage female
analysis['word_percentage_f'] = round((analysis['word_count_f']/analysis['word_count'])*100,2)
analysis.head()

,movie_id,year,character_count,male_count,female_count,word_count,word_count_m,word_count_f,characters_occourences,characters_occourences_f,characters_occourences_m,male_character_percentage,female_character_percentage,word_percentage_f
0,100000,1997,8,5,3,7482.0,3995.0,3487.0,882.0,389.0,493.0,62.50,37.50,46.61
1,100002,2004,9,6,3,5867.0,3919.0,1948.0,592.0,189.0,403.0,66.67,33.33,33.20
2,100004,2013,7,6,1,6233.0,5889.0,344.0,389.0,22.0,367.0,85.71,14.29,5.52
3,100005,2010,5,2,3,3324.0,2807.0,517.0,151.0,49.0,102.0,40.00,60.00,15.55
4,100006,1991,7,6,1,7556.0,7199.0,357.0,429.0,31.0,398.0,85.71,14.29,4.72

In [30]:
# add word count percentage male
analysis['word_percentage_m'] = round((analysis['word_count_m']/analysis['word_count'])*100,2)
analysis.head()

,movie_id,year,character_count,male_count,female_count,word_count,word_count_m,word_count_f,characters_occourences,characters_occourences_f,characters_occourences_m,male_character_percentage,female_character_percentage,word_percentage_f,word_percentage_m
0,100000,1997,8,5,3,7482.0,3995.0,3487.0,882.0,389.0,493.0,62.50,37.50,46.61,53.39
1,100002,2004,9,6,3,5867.0,3919.0,1948.0,592.0,189.0,403.0,66.67,33.33,33.20,66.80
2,100004,2013,7,6,1,6233.0,5889.0,344.0,389.0,22.0,367.0,85.71,14.29,5.52,94.48
3,100005,2010,5,2,3,3324.0,2807.0,517.0,151.0,49.0,102.0,40.00,60.00,15.55,84.45
4,100006,1991,7,6,1,7556.0,7199.0,357.0,429.0,31.0,398.0,85.71,14.29,4.72,95.28

In [31]:
# add percentage female occourences
analysis['character_occourence_percentage_f'] = round((analysis['characters_occourences_f']/analysis['characters_occourences'])*100,2)
analysis.head()

,movie_id,year,character_count,male_count,female_count,word_count,word_count_m,word_count_f,characters_occourences,characters_occourences_f,characters_occourences_m,male_character_percentage,female_character_percentage,word_percentage_f,word_percentage_m,character_occourence_percentage_f
0,100000,1997,8,5,3,7482.0,3995.0,3487.0,882.0,389.0,493.0,62.50,37.50,46.61,53.39,44.10
1,100002,2004,9,6,3,5867.0,3919.0,1948.0,592.0,189.0,403.0,66.67,33.33,33.20,66.80,31.93
2,100004,2013,7,6,1,6233.0,5889.0,344.0,389.0,22.0,367.0,85.71,14.29,5.52,94.48,5.66
3,100005,2010,5,2,3,3324.0,2807.0,517.0,151.0,49.0,102.0,40.00,60.00,15.55,84.45,32.45
4,100006,1991,7,6,1,7556.0,7199.0,357.0,429.0,31.0,398.0,85.71,14.29,4.72,95.28,7.23

In [32]:
# add percentage male occourences
analysis['character_occourence_percentage_m'] = round((analysis['characters_occourences_m']/analysis['characters_occourences'])*100,2)
analysis.head()

,movie_id,year,character_count,male_count,female_count,word_count,word_count_m,word_count_f,characters_occourences,characters_occourences_f,characters_occourences_m,male_character_percentage,female_character_percentage,word_percentage_f,word_percentage_m,character_occourence_percentage_f,character_occourence_percentage_m
0,100000,1997,8,5,3,7482.0,3995.0,3487.0,882.0,389.0,493.0,62.50,37.50,46.61,53.39,44.10,55.90
1,100002,2004,9,6,3,5867.0,3919.0,1948.0,592.0,189.0,403.0,66.67,33.33,33.20,66.80,31.93,68.07
2,100004,2013,7,6,1,6233.0,5889.0,344.0,389.0,22.0,367.0,85.71,14.29,5.52,94.48,5.66,94.34
3,100005,2010,5,2,3,3324.0,2807.0,517.0,151.0,49.0,102.0,40.00,60.00,15.55,84.45,32.45,67.55
4,100006,1991,7,6,1,7556.0,7199.0,357.0,429.0,31.0,398.0,85.71,14.29,4.72,95.28,7.23,92.77

In [33]:
#analysis.to_pickle('analysis_data/analysis.pckl')

***
### Create the plot input

In [44]:
analysis.columns

Index(['movie_id', 'year', 'character_count', 'male_count', 'female_count',
       'word_count', 'word_count_m', 'word_count_f', 'characters_occourences',
       'characters_occourences_f', 'characters_occourences_m',
       'male_character_percentage', 'female_character_percentage',
       'word_percentage_f', 'word_percentage_m',
       'character_occourence_percentage_f',
       'character_occourence_percentage_m'],
      dtype='object')

In [49]:
#source: https://stackoverflow.com/questions/14529838/apply-multiple-functions-to-multiple-groupby-columns/53096340
character_count_data = analysis[['year','movie_id','male_character_percentage', 'female_character_percentage']]
character_count_data_groupped=character_count_data.groupby(['year']).agg({ 'movie_id':list,
                                            'male_character_percentage':mean,
                                           'female_character_percentage':mean})
character_count_data_groupped

,movie_id,male_character_percentage,female_character_percentage
year,,,
1933,[100364],83.330000,16.670000
1939,"[100817, 101192]",50.000000,50.000000
1940,"[100494, 100549]",72.225000,27.775000
1941,[100266],71.430000,28.570000
1943,[100102],42.860000,57.140000
1944,"[100357, 101073]",69.050000,30.950000
1946,[100607],66.670000,33.330000
1947,[101041],87.500000,12.500000
1948,[100779],57.140000,42.860000
1949,"[100936, 101052]",50.000000,50.000000
1950,"[100053, 101048]",61.115000,38.885000
1951,[100325],85.710000,14.290000
1952,[100441],50.000000,50.000000
1953,"[100906, 101174]",61.115000,38.885000
1955,"[100128, 100736, 100907]",63.690000,36.310000
1956,[100960],87.500000,12.500000
1957,"[100967, 101063]",73.015000,26.985000
1959,[100891],66.670000,33.330000
1960,"[100091, 100851]",50.000000,50.000000
1961,[100766],50.000000,50.000000
1962,"[100172, 100253, 101134]",59.630000,40.370000
1963,[100674],75.000000,25.000000
1965,"[100263, 100835]",76.190000,23.810000
1967,"[100199, 100490, 100858, 100885]",59.107500,40.892500
1969,"[100667, 100756]",58.570000,41.430000
1970,"[100419, 100831, 100884]",63.493333,36.506667
1971,"[100434, 100460, 100478, 100514, 100646]",75.714000,24.286000
1972,"[100324, 100465, 100665]",73.213333,26.786667
1973,"[100063, 100133, 100135, 100479, 100745, 101043, 101070]",79.110000,20.890000
1974,"[100258, 100797]",61.905000,38.095000
1975,"[100352, 100616, 100696, 100918, 100931, 100975, 100982]",71.377143,28.622857
1976,"[100237, 100642, 100930, 101031, 101075]",72.040000,27.960000
1977,"[100086, 100757]",70.835000,29.165000
1978,"[100218, 100336, 100617, 101030]",76.885000,23.115000
1979,"[100043, 100158, 100420, 100480, 100648, 101163]",78.291667,21.708333
1980,"[100377, 100436, 100530, 100661, 100834, 100887, 100900, 100980, 101035]",69.114444,30.885556
1981,"[100075, 100182, 100194, 100359, 100585, 101033, 101118, 101119]",81.597500,18.402500
1982,"[100017, 100044, 100058, 100347, 100455, 100498, 101026, 101146]",67.520000,32.480000
1983,"[100366, 100952, 101057, 101077]",60.662500,39.337500
1984,"[100059, 100120, 100188, 100586, 100728, 100812, 100895, 100914, 101024, 101038]",68.178000,31.822000
1985,"[100041, 100214, 100217, 100275, 100323, 100438, 100439, 100990]",60.566250,39.433750
1986,"[100094, 100191, 100512, 100536, 100546, 100856, 101012, 101094, 101102]",67.470000,32.530000
1987,"[100030, 100049, 100176, 100222, 100363, 100423, 100677, 100778, 100877, 100883, 100901, 101045, 101155]",71.596923,28.403077
1988,"[100032, 100129, 100140, 100164, 100165, 100228, 100264, 100345, 100412, 100528, 101117, 101187]",70.602500,29.397500
1989,"[100010, 100118, 100319, 100346, 100437, 100472, 100499, 100500, 100584, 100717, 101106]",72.914545,27.085455
1990,"[100097, 100130, 100150, 100198, 100267, 100373, 100466, 100517, 100564, 100768, 100875, 100879, 100880, 101051, 101097, 101110, 101181]",67.042353,32.957647
1991,"[100006, 100035, 100101, 100125, 100136, 100537, 100619, 100623, 100633, 100659, 100718, 100723, 100792, 100802, 100810, 100857, 100863, 100872, 100902, 100989, 100994, 101018, 101078]",68.130870,31.869130
1992,"[100138, 100156, 100195, 100196, 100304, 100354, 100372, 100375, 100432, 100446, 100502, 100565, 100630, 100649, 100662, 100683, 100732, 100854, 100859, 100886, 100965, 100993, 100995, 100997, 101088, 101129]",69.240000,30.760000
1993,"[100270, 100273, 100365, 100634, 100640, 100727, 100811, 100893, 100954, 101047, 101095, 101107, 101136]",67.987692,32.012308
1994,"[100106, 100126, 100187, 100280, 100342, 100424, 100501, 100527, 100529, 100574, 100595, 100628, 100668, 100700, 100738, 100760, 100770, 100973, 101064, 101124, 101150]",66.580000,33.420000
1995,"[100070, 100115, 100213, 100223, 100272, 100288, 100413, 100426, 100505, 100508, 100587, 100636, 100651, 100693, 100706, 100720, 100769, 100790, 100798, 100807, 100928, 100956, 100959, 100963, 101027, 101101]",68.135000,31.865000
1996,"[100031, 100095, 100107, 100110, 100139, 100161, 100204, 100205, 100216, 100295, 100299, 100335, 100380, 100382, 100440, 100453, 100467, 100482, 100576, 100583, 100599, 100621, 100678, 100698, 100763, 100874, 100999, 101115, 101152, 101191]",67.718000,32.282000
1997,"[100000, 100021, 100038, 100042, 100051, 100064, 100082, 100105, 100200, 100203, 100221, 100227, 100255, 100331, 100344, 100371, 100376, 100456, 100459, 100477, 100481, 100486, 100541, 100555, 100598, 100611, 100632, 100743, 100751, 100754, 100759, 100791, 100795, 100829, 100924, 100933, 100942, 100957, 101011, 101039, 101062, 101083, 101098, 101104, 101108, 101132, 101148, 101184, 101199]",70.423673,29.576327
1998,"[100057, 100069, 100081, 100090, 100149, 100168, 100245, 100257, 100283, 100306, 100379, 100414, 100475, 100516, 100525, 100545, 100552, 100573, 100656, 100681, 100684, 100708, 100715, 100747, 100793, 100838, 100861, 100867, 100871, 100921, 100940, 100972, 100998, 101022, 101042, 101044, 101080, 101126, 101130, 101186]",65.720750,34.279250
1999,"[100061, 100083, 100111, 100157, 100184, 100254, 100262, 100341, 100353, 100362, 100381, 100385, 100416, 100532, 100591, 100722, 100742, 100750, 100773, 100786, 100787, 100788, 100789, 100821, 100822, 100848, 100913, 100938, 100948, 100958, 100981, 100996, 101004, 101040, 101072, 101135, 101169, 101197, 101200]",64.562051,35.437949
2000,"[100034, 100039, 100071, 100113, 100137, 100207, 100242, 100248, 100256, 100278, 100284, 100301, 100348, 100374, 100435, 100513, 100533, 100539, 100560, 100593, 100669, 100692, 100771, 100804, 100842, 100896, 100897, 100910, 100917, 101023, 101100, 101113, 101153, 101194]",68.158824,31.841176
2001,"[100012, 100046, 100087, 100089, 100173, 100189, 100468, 100470, 100566, 100570, 100579, 100609, 100615, 100618, 100631, 100680, 100701, 100716, 100765, 100827, 100850, 100868, 100941, 100983, 101010, 101065, 101071, 101145, 101202]",68.687586,31.312414
2002,"[100013, 100080, 100131, 100181, 100226, 100232, 100243, 100285, 100293, 100457, 100485, 100488, 100538, 100557, 100709, 100719, 100860, 100862, 100889, 100894, 100946, 100988, 101013, 101019, 101029, 101032, 101180, 101196]",68.342857,31.657143
2003,"[100074, 100147, 100167, 100208, 100244, 100249, 100276, 100277, 100287, 100417, 100418, 100433, 100493, 100518, 100531, 100534, 100535, 100551, 100588, 100610, 100721, 100739, 100865, 100986, 101069]",61.048000,38.952000
2004,"[100002, 100050, 100170, 100183, 100233, 100252, 100297, 100321, 100452, 100458, 100503, 100559, 100582, 100624, 100655, 100689, 100755, 100803, 100828, 100840, 100964, 100970, 101000, 101017, 101058, 101096, 101149, 101154, 101162, 101185, 101209]",64.836452,35.163548
2005,"[100197, 100219, 100236, 100261, 100294, 100333, 100343, 100428, 100548, 100641, 100704, 100729, 101067, 101079, 101105, 101158, 101183]",72.101176,27.898824
2006,"[100027, 100054, 100055, 100062, 100174, 100177, 100210, 100240, 100241, 100338, 100349, 100378, 100515, 100553, 100687, 100764, 100815, 100837, 100864, 100866, 100878, 100890, 100962, 101055, 101099, 101170, 101172, 101178]",62.734286,37.265714
2007,"[100008, 100028, 100060, 100124, 100201, 100202, 100206, 100209, 100309, 100358, 100368, 100369, 100451, 100454, 100510, 100526, 100578, 100596, 100600, 100601, 100620, 100629, 100647, 100671, 100705, 100731, 100744, 100767, 100775, 100776, 100780, 100819, 100826, 100836, 100892, 100929, 101001, 101014, 101021, 101025, 101053, 101059, 101066, 101173, 101189, 101198, 101207]",64.115745,35.884255
2008,"[100011, 100018, 100040, 100121, 100132, 100225, 100231, 100251, 100268, 100320, 100370, 100444, 100448, 100491, 100509, 100544, 100571, 100589, 100614, 100650, 100660, 100666, 100876, 100899, 100904, 100920, 100937, 100978, 100979, 101111, 101127, 101128, 101133, 101157]",61.305882,38.694118
2009,"[100014, 100016, 100019, 100076, 100079, 100103, 100114, 100185, 100190, 100220, 100224, 100230, 100246, 100250, 100265, 100279, 100289, 100312, 100330, 100361, 100442, 100461, 100506, 100540, 100572, 100580, 100608, 100637, 100658, 100664, 100685, 100746, 100805, 100814, 100825, 100841, 100909, 100912, 100935, 101009, 101074, 101123, 101138, 101156, 101164, 101165, 101166, 101201]",64.059583,35.940417
2010,"[100005, 100155, 100178, 100229, 100296, 100360, 100542, 100554, 100558, 100562, 100569, 100581, 100643, 100711, 100712, 100749, 100955, 100977, 101054, 101120]",63.492000,36.508000
2011,"[100036, 100067, 100096, 100163, 100290, 100339, 100422, 100474, 100489, 100577, 100602, 100686, 100734, 100758, 100772, 100777, 100783, 100784, 100794, 100824, 100849, 100882, 100939, 100943, 100961, 100974, 101002, 101016, 101068, 101160, 101208]",60.690968,39.309032
2012,"[100015, 100077, 100078, 100112, 100116, 100186, 100235, 100259, 100311, 100316, 100445, 100673, 100682, 100699, 100740, 100752, 100844, 100855, 100922, 100991]",68.093000,31.907000
2013,"[100004, 100109, 100329, 100340, 100496, 100543, 100639, 100833, 100949, 101082, 101193]",64.522727,35.477273
2014,"[100024, 100073, 100171, 100211, 100310, 100427, 100563, 100597, 100672]",62.515556,37.484444
2015,"[100314, 100328, 100690, 100985, 101036, 101046]",67.578333,32.421667
2016,"[100025, 100153, 100652, 100695, 100881, 100987, 101050]",58.412857,41.587143
2017,"[100169, 100298, 100504, 100556, 101091]",73.808000,26.192000
2018,"[100159, 100175, 100627, 100710, 100992]",64.334000,35.666000
2019,"[100511, 101161]",57.145000,42.855000
2020,"[100007, 100026, 100088, 100160, 100269, 100697, 100898, 101195]",69.425000,30.575000
2021,"[100141, 100180, 100356, 100429, 100507, 100934, 100951, 100966, 101049, 101139]",58.037000,41.963000
2022,"[101090, 101188]",75.000000,25.000000

In [65]:
character_occurrence_data = analysis[['year','movie_id','character_occourence_percentage_m', 'character_occourence_percentage_f']]
character_occurrence_data_groupped=character_occurrence_data.groupby(['year']).agg({ 'movie_id':list,
                                            'character_occourence_percentage_m':mean,
                                           'character_occourence_percentage_f':mean})
character_occurrence_data_groupped

,movie_id,character_occourence_percentage_m,character_occourence_percentage_f
year,,,
1933,[100364],95.280000,4.720000
1939,"[100817, 101192]",44.085000,55.915000
1940,"[100494, 100549]",66.345000,33.655000
1941,[100266],81.020000,18.980000
1943,[100102],57.450000,42.550000
1944,"[100357, 101073]",73.905000,26.095000
1946,[100607],82.460000,17.540000
1947,[101041],97.240000,2.760000
1948,[100779],65.010000,34.990000
1949,"[100936, 101052]",66.295000,33.705000
1950,"[100053, 101048]",58.930000,41.070000
1951,[100325],77.210000,22.790000
1952,[100441],47.110000,52.890000
1953,"[100906, 101174]",65.010000,34.990000
1955,"[100128, 100736, 100907]",61.300000,38.700000
1956,[100960],93.700000,6.300000
1957,"[100967, 101063]",79.875000,20.125000
1959,[100891],63.870000,36.130000
1960,"[100091, 100851]",64.775000,35.225000
1961,[100766],45.280000,54.720000
1962,"[100172, 100253, 101134]",62.500000,37.500000
1963,[100674],72.410000,27.590000
1965,"[100263, 100835]",80.740000,19.260000
1967,"[100199, 100490, 100858, 100885]",55.885000,44.115000
1969,"[100667, 100756]",77.065000,22.935000
1970,"[100419, 100831, 100884]",52.653333,47.346667
1971,"[100434, 100460, 100478, 100514, 100646]",81.924000,18.076000
1972,"[100324, 100465, 100665]",69.626667,30.373333
1973,"[100063, 100133, 100135, 100479, 100745, 101043, 101070]",86.578571,13.421429
1974,"[100258, 100797]",54.420000,45.580000
1975,"[100352, 100616, 100696, 100918, 100931, 100975, 100982]",72.881429,27.118571
1976,"[100237, 100642, 100930, 101031, 101075]",74.490000,25.510000
1977,"[100086, 100757]",71.630000,28.370000
1978,"[100218, 100336, 100617, 101030]",85.240000,14.760000
1979,"[100043, 100158, 100420, 100480, 100648, 101163]",84.283333,15.716667
1980,"[100377, 100436, 100530, 100661, 100834, 100887, 100900, 100980, 101035]",67.902222,32.097778
1981,"[100075, 100182, 100194, 100359, 100585, 101033, 101118, 101119]",86.687500,13.312500
1982,"[100017, 100044, 100058, 100347, 100455, 100498, 101026, 101146]",72.418750,27.581250
1983,"[100366, 100952, 101057, 101077]",60.262500,39.737500
1984,"[100059, 100120, 100188, 100586, 100728, 100812, 100895, 100914, 101024, 101038]",60.374000,39.626000
1985,"[100041, 100214, 100217, 100275, 100323, 100438, 100439, 100990]",59.125000,40.875000
1986,"[100094, 100191, 100512, 100536, 100546, 100856, 101012, 101094, 101102]",60.191111,39.808889
1987,"[100030, 100049, 100176, 100222, 100363, 100423, 100677, 100778, 100877, 100883, 100901, 101045, 101155]",76.261538,23.738462
1988,"[100032, 100129, 100140, 100164, 100165, 100228, 100264, 100345, 100412, 100528, 101117, 101187]",65.542500,34.457500
1989,"[100010, 100118, 100319, 100346, 100437, 100472, 100499, 100500, 100584, 100717, 101106]",76.027273,23.972727
1990,"[100097, 100130, 100150, 100198, 100267, 100373, 100466, 100517, 100564, 100768, 100875, 100879, 100880, 101051, 101097, 101110, 101181]",68.759412,31.240588
1991,"[100006, 100035, 100101, 100125, 100136, 100537, 100619, 100623, 100633, 100659, 100718, 100723, 100792, 100802, 100810, 100857, 100863, 100872, 100902, 100989, 100994, 101018, 101078]",74.093913,25.906087
1992,"[100138, 100156, 100195, 100196, 100304, 100354, 100372, 100375, 100432, 100446, 100502, 100565, 100630, 100649, 100662, 100683, 100732, 100854, 100859, 100886, 100965, 100993, 100995, 100997, 101088, 101129]",68.808846,31.191154
1993,"[100270, 100273, 100365, 100634, 100640, 100727, 100811, 100893, 100954, 101047, 101095, 101107, 101136]",77.662308,22.337692
1994,"[100106, 100126, 100187, 100280, 100342, 100424, 100501, 100527, 100529, 100574, 100595, 100628, 100668, 100700, 100738, 100760, 100770, 100973, 101064, 101124, 101150]",68.775714,31.224286
1995,"[100070, 100115, 100213, 100223, 100272, 100288, 100413, 100426, 100505, 100508, 100587, 100636, 100651, 100693, 100706, 100720, 100769, 100790, 100798, 100807, 100928, 100956, 100959, 100963, 101027, 101101]",69.141923,30.858077
1996,"[100031, 100095, 100107, 100110, 100139, 100161, 100204, 100205, 100216, 100295, 100299, 100335, 100380, 100382, 100440, 100453, 100467, 100482, 100576, 100583, 100599, 100621, 100678, 100698, 100763, 100874, 100999, 101115, 101152, 101191]",72.886667,27.113333
1997,"[100000, 100021, 100038, 100042, 100051, 100064, 100082, 100105, 100200, 100203, 100221, 100227, 100255, 100331, 100344, 100371, 100376, 100456, 100459, 100477, 100481, 100486, 100541, 100555, 100598, 100611, 100632, 100743, 100751, 100754, 100759, 100791, 100795, 100829, 100924, 100933, 100942, 100957, 101011, 101039, 101062, 101083, 101098, 101104, 101108, 101132, 101148, 101184, 101199]",74.050612,25.949388
1998,"[100057, 100069, 100081, 100090, 100149, 100168, 100245, 100257, 100283, 100306, 100379, 100414, 100475, 100516, 100525, 100545, 100552, 100573, 100656, 100681, 100684, 100708, 100715, 100747, 100793, 100838, 100861, 100867, 100871, 100921, 100940, 100972, 100998, 101022, 101042, 101044, 101080, 101126, 101130, 101186]",72.815500,27.184500
1999,"[100061, 100083, 100111, 100157, 100184, 100254, 100262, 100341, 100353, 100362, 100381, 100385, 100416, 100532, 100591, 100722, 100742, 100750, 100773, 100786, 100787, 100788, 100789, 100821, 100822, 100848, 100913, 100938, 100948, 100958, 100981, 100996, 101004, 101040, 101072, 101135, 101169, 101197, 101200]",64.325128,35.674872
2000,"[100034, 100039, 100071, 100113, 100137, 100207, 100242, 100248, 100256, 100278, 100284, 100301, 100348, 100374, 100435, 100513, 100533, 100539, 100560, 100593, 100669, 100692, 100771, 100804, 100842, 100896, 100897, 100910, 100917, 101023, 101100, 101113, 101153, 101194]",71.982941,28.017059
2001,"[100012, 100046, 100087, 100089, 100173, 100189, 100468, 100470, 100566, 100570, 100579, 100609, 100615, 100618, 100631, 100680, 100701, 100716, 100765, 100827, 100850, 100868, 100941, 100983, 101010, 101065, 101071, 101145, 101202]",74.483103,25.516897
2002,"[100013, 100080, 100131, 100181, 100226, 100232, 100243, 100285, 100293, 100457, 100485, 100488, 100538, 100557, 100709, 100719, 100860, 100862, 100889, 100894, 100946, 100988, 101013, 101019, 101029, 101032, 101180, 101196]",74.684643,25.315357
2003,"[100074, 100147, 100167, 100208, 100244, 100249, 100276, 100277, 100287, 100417, 100418, 100433, 100493, 100518, 100531, 100534, 100535, 100551, 100588, 100610, 100721, 100739, 100865, 100986, 101069]",64.518400,35.481600
2004,"[100002, 100050, 100170, 100183, 100233, 100252, 100297, 100321, 100452, 100458, 100503, 100559, 100582, 100624, 100655, 100689, 100755, 100803, 100828, 100840, 100964, 100970, 101000, 101017, 101058, 101096, 101149, 101154, 101162, 101185, 101209]",62.620968,37.379032
2005,"[100197, 100219, 100236, 100261, 100294, 100333, 100343, 100428, 100548, 100641, 100704, 100729, 101067, 101079, 101105, 101158, 101183]",78.375882,21.624118
2006,"[100027, 100054, 100055, 100062, 100174, 100177, 100210, 100240, 100241, 100338, 100349, 100378, 100515, 100553, 100687, 100764, 100815, 100837, 100864, 100866, 100878, 100890, 100962, 101055, 101099, 101170, 101172, 101178]",64.193929,35.806071
2007,"[100008, 100028, 100060, 100124, 100201, 100202, 100206, 100209, 100309, 100358, 100368, 100369, 100451, 100454, 100510, 100526, 100578, 100596, 100600, 100601, 100620, 100629, 100647, 100671, 100705, 100731, 100744, 100767, 100775, 100776, 100780, 100819, 100826, 100836, 100892, 100929, 101001, 101014, 101021, 101025, 101053, 101059, 101066, 101173, 101189, 101198, 101207]",64.638085,35.361915
2008,"[100011, 100018, 100040, 100121, 100132, 100225, 100231, 100251, 100268, 100320, 100370, 100444, 100448, 100491, 100509, 100544, 100571, 100589, 100614, 100650, 100660, 100666, 100876, 100899, 100904, 100920, 100937, 100978, 100979, 101111, 101127, 101128, 101133, 101157]",60.869118,39.130882
2009,"[100014, 100016, 100019, 100076, 100079, 100103, 100114, 100185, 100190, 100220, 100224, 100230, 100246, 100250, 100265, 100279, 100289, 100312, 100330, 100361, 100442, 100461, 100506, 100540, 100572, 100580, 100608, 100637, 100658, 100664, 100685, 100746, 100805, 100814, 100825, 100841, 100909, 100912, 100935, 101009, 101074, 101123, 101138, 101156, 101164, 101165, 101166, 101201]",69.076875,30.923125
2010,"[100005, 100155, 100178, 100229, 100296, 100360, 100542, 100554, 100558, 100562, 100569, 100581, 100643, 100711, 100712, 100749, 100955, 100977, 101054, 101120]",73.123000,26.877000
2011,"[100036, 100067, 100096, 100163, 100290, 100339, 100422, 100474, 100489, 100577, 100602, 100686, 100734, 100758, 100772, 100777, 100783, 100784, 100794, 100824, 100849, 100882, 100939, 100943, 100961, 100974, 101002, 101016, 101068, 101160, 101208]",64.597742,35.402258
2012,"[100015, 100077, 100078, 100112, 100116, 100186, 100235, 100259, 100311, 100316, 100445, 100673, 100682, 100699, 100740, 100752, 100844, 100855, 100922, 100991]",72.556500,27.443500
2013,"[100004, 100109, 100329, 100340, 100496, 100543, 100639, 100833, 100949, 101082, 101193]",69.532727,30.467273
2014,"[100024, 100073, 100171, 100211, 100310, 100427, 100563, 100597, 100672]",68.466667,31.533333
2015,"[100314, 100328, 100690, 100985, 101036, 101046]",71.515000,28.485000
2016,"[100025, 100153, 100652, 100695, 100881, 100987, 101050]",62.758571,37.241429
2017,"[100169, 100298, 100504, 100556, 101091]",75.468000,24.532000
2018,"[100159, 100175, 100627, 100710, 100992]",69.236000,30.764000
2019,"[100511, 101161]",49.965000,50.035000
2020,"[100007, 100026, 100088, 100160, 100269, 100697, 100898, 101195]",71.996250,28.003750
2021,"[100141, 100180, 100356, 100429, 100507, 100934, 100951, 100966, 101049, 101139]",59.857000,40.143000
2022,"[101090, 101188]",78.030000,21.970000

In [67]:
character_word_count_data = analysis[['year','movie_id','word_percentage_m', 'word_percentage_f']]
character_word_count_data_groupped=character_word_count_data.groupby(['year']).agg({ 'movie_id':list,
                                            'word_percentage_m':mean,
                                           'word_percentage_f':mean})
character_word_count_data_groupped

,movie_id,word_percentage_m,word_percentage_f
year,,,
1933,[100364],97.370000,2.630000
1939,"[100817, 101192]",42.820000,57.180000
1940,"[100494, 100549]",62.795000,37.205000
1941,[100266],81.560000,18.440000
1943,[100102],62.030000,37.970000
1944,"[100357, 101073]",77.060000,22.940000
1946,[100607],86.810000,13.190000
1947,[101041],99.940000,0.060000
1948,[100779],71.600000,28.400000
1949,"[100936, 101052]",67.450000,32.550000
1950,"[100053, 101048]",59.805000,40.195000
1951,[100325],81.730000,18.270000
1952,[100441],53.670000,46.330000
1953,"[100906, 101174]",65.250000,34.750000
1955,"[100128, 100736, 100907]",62.673333,37.326667
1956,[100960],92.480000,7.520000
1957,"[100967, 101063]",83.735000,16.265000
1959,[100891],71.400000,28.600000
1960,"[100091, 100851]",62.765000,37.235000
1961,[100766],41.150000,58.850000
1962,"[100172, 100253, 101134]",61.460000,38.540000
1963,[100674],74.170000,25.830000
1965,"[100263, 100835]",85.095000,14.905000
1967,"[100199, 100490, 100858, 100885]",56.587500,43.412500
1969,"[100667, 100756]",80.145000,19.855000
1970,"[100419, 100831, 100884]",81.583333,18.416667
1971,"[100434, 100460, 100478, 100514, 100646]",82.628000,17.372000
1972,"[100324, 100465, 100665]",74.810000,25.190000
1973,"[100063, 100133, 100135, 100479, 100745, 101043, 101070]",87.782857,12.217143
1974,"[100258, 100797]",59.160000,40.840000
1975,"[100352, 100616, 100696, 100918, 100931, 100975, 100982]",76.454286,23.545714
1976,"[100237, 100642, 100930, 101031, 101075]",77.428000,22.572000
1977,"[100086, 100757]",73.635000,26.365000
1978,"[100218, 100336, 100617, 101030]",85.932500,14.067500
1979,"[100043, 100158, 100420, 100480, 100648, 101163]",82.641667,17.358333
1980,"[100377, 100436, 100530, 100661, 100834, 100887, 100900, 100980, 101035]",67.782222,32.217778
1981,"[100075, 100182, 100194, 100359, 100585, 101033, 101118, 101119]",87.126250,12.873750
1982,"[100017, 100044, 100058, 100347, 100455, 100498, 101026, 101146]",72.603750,27.396250
1983,"[100366, 100952, 101057, 101077]",59.200000,40.800000
1984,"[100059, 100120, 100188, 100586, 100728, 100812, 100895, 100914, 101024, 101038]",61.325000,38.675000
1985,"[100041, 100214, 100217, 100275, 100323, 100438, 100439, 100990]",64.727500,35.272500
1986,"[100094, 100191, 100512, 100536, 100546, 100856, 101012, 101094, 101102]",62.150000,37.850000
1987,"[100030, 100049, 100176, 100222, 100363, 100423, 100677, 100778, 100877, 100883, 100901, 101045, 101155]",77.352308,22.647692
1988,"[100032, 100129, 100140, 100164, 100165, 100228, 100264, 100345, 100412, 100528, 101117, 101187]",66.137500,33.862500
1989,"[100010, 100118, 100319, 100346, 100437, 100472, 100499, 100500, 100584, 100717, 101106]",76.731818,23.268182
1990,"[100097, 100130, 100150, 100198, 100267, 100373, 100466, 100517, 100564, 100768, 100875, 100879, 100880, 101051, 101097, 101110, 101181]",67.712941,32.287059
1991,"[100006, 100035, 100101, 100125, 100136, 100537, 100619, 100623, 100633, 100659, 100718, 100723, 100792, 100802, 100810, 100857, 100863, 100872, 100902, 100989, 100994, 101018, 101078]",75.604783,24.395217
1992,"[100138, 100156, 100195, 100196, 100304, 100354, 100372, 100375, 100432, 100446, 100502, 100565, 100630, 100649, 100662, 100683, 100732, 100854, 100859, 100886, 100965, 100993, 100995, 100997, 101088, 101129]",69.452308,30.547692
1993,"[100270, 100273, 100365, 100634, 100640, 100727, 100811, 100893, 100954, 101047, 101095, 101107, 101136]",79.126923,20.873077
1994,"[100106, 100126, 100187, 100280, 100342, 100424, 100501, 100527, 100529, 100574, 100595, 100628, 100668, 100700, 100738, 100760, 100770, 100973, 101064, 101124, 101150]",70.958095,29.041905
1995,"[100070, 100115, 100213, 100223, 100272, 100288, 100413, 100426, 100505, 100508, 100587, 100636, 100651, 100693, 100706, 100720, 100769, 100790, 100798, 100807, 100928, 100956, 100959, 100963, 101027, 101101]",70.674400,29.325600
1996,"[100031, 100095, 100107, 100110, 100139, 100161, 100204, 100205, 100216, 100295, 100299, 100335, 100380, 100382, 100440, 100453, 100467, 100482, 100576, 100583, 100599, 100621, 100678, 100698, 100763, 100874, 100999, 101115, 101152, 101191]",74.768000,25.232000
1997,"[100000, 100021, 100038, 100042, 100051, 100064, 100082, 100105, 100200, 100203, 100221, 100227, 100255, 100331, 100344, 100371, 100376, 100456, 100459, 100477, 100481, 100486, 100541, 100555, 100598, 100611, 100632, 100743, 100751, 100754, 100759, 100791, 100795, 100829, 100924, 100933, 100942, 100957, 101011, 101039, 101062, 101083, 101098, 101104, 101108, 101132, 101148, 101184, 101199]",74.622500,25.377500
1998,"[100057, 100069, 100081, 100090, 100149, 100168, 100245, 100257, 100283, 100306, 100379, 100414, 100475, 100516, 100525, 100545, 100552, 100573, 100656, 100681, 100684, 100708, 100715, 100747, 100793, 100838, 100861, 100867, 100871, 100921, 100940, 100972, 100998, 101022, 101042, 101044, 101080, 101126, 101130, 101186]",73.754500,26.245500
1999,"[100061, 100083, 100111, 100157, 100184, 100254, 100262, 100341, 100353, 100362, 100381, 100385, 100416, 100532, 100591, 100722, 100742, 100750, 100773, 100786, 100787, 100788, 100789, 100821, 100822, 100848, 100913, 100938, 100948, 100958, 100981, 100996, 101004, 101040, 101072, 101135, 101169, 101197, 101200]",65.131538,34.868462
2000,"[100034, 100039, 100071, 100113, 100137, 100207, 100242, 100248, 100256, 100278, 100284, 100301, 100348, 100374, 100435, 100513, 100533, 100539, 100560, 100593, 100669, 100692, 100771, 100804, 100842, 100896, 100897, 100910, 100917, 101023, 101100, 101113, 101153, 101194]",73.864706,26.135294
2001,"[100012, 100046, 100087, 100089, 100173, 100189, 100468, 100470, 100566, 100570, 100579, 100609, 100615, 100618, 100631, 100680, 100701, 100716, 100765, 100827, 100850, 100868, 100941, 100983, 101010, 101065, 101071, 101145, 101202]",76.015714,23.984286
2002,"[100013, 100080, 100131, 100181, 100226, 100232, 100243, 100285, 100293, 100457, 100485, 100488, 100538, 100557, 100709, 100719, 100860, 100862, 100889, 100894, 100946, 100988, 101013, 101019, 101029, 101032, 101180, 101196]",75.734286,24.265714
2003,"[100074, 100147, 100167, 100208, 100244, 100249, 100276, 100277, 100287, 100417, 100418, 100433, 100493, 100518, 100531, 100534, 100535, 100551, 100588, 100610, 100721, 100739, 100865, 100986, 101069]",67.111250,32.888750
2004,"[100002, 100050, 100170, 100183, 100233, 100252, 100297, 100321, 100452, 100458, 100503, 100559, 100582, 100624, 100655, 100689, 100755, 100803, 100828, 100840, 100964, 100970, 101000, 101017, 101058, 101096, 101149, 101154, 101162, 101185, 101209]",66.427333,33.572667
2005,"[100197, 100219, 100236, 100261, 100294, 100333, 100343, 100428, 100548, 100641, 100704, 100729, 101067, 101079, 101105, 101158, 101183]",78.278235,21.721765
2006,"[100027, 100054, 100055, 100062, 100174, 100177, 100210, 100240, 100241, 100338, 100349, 100378, 100515, 100553, 100687, 100764, 100815, 100837, 100864, 100866, 100878, 100890, 100962, 101055, 101099, 101170, 101172, 101178]",64.648929,35.351071
2007,"[100008, 100028, 100060, 100124, 100201, 100202, 100206, 100209, 100309, 100358, 100368, 100369, 100451, 100454, 100510, 100526, 100578, 100596, 100600, 100601, 100620, 100629, 100647, 100671, 100705, 100731, 100744, 100767, 100775, 100776, 100780, 100819, 100826, 100836, 100892, 100929, 101001, 101014, 101021, 101025, 101053, 101059, 101066, 101173, 101189, 101198, 101207]",64.537660,35.462340
2008,"[100011, 100018, 100040, 100121, 100132, 100225, 100231, 100251, 100268, 100320, 100370, 100444, 100448, 100491, 100509, 100544, 100571, 100589, 100614, 100650, 100660, 100666, 100876, 100899, 100904, 100920, 100937, 100978, 100979, 101111, 101127, 101128, 101133, 101157]",62.472647,37.527353
2009,"[100014, 100016, 100019, 100076, 100079, 100103, 100114, 100185, 100190, 100220, 100224, 100230, 100246, 100250, 100265, 100279, 100289, 100312, 100330, 100361, 100442, 100461, 100506, 100540, 100572, 100580, 100608, 100637, 100658, 100664, 100685, 100746, 100805, 100814, 100825, 100841, 100909, 100912, 100935, 101009, 101074, 101123, 101138, 101156, 101164, 101165, 101166, 101201]",69.391042,30.608958
2010,"[100005, 100155, 100178, 100229, 100296, 100360, 100542, 100554, 100558, 100562, 100569, 100581, 100643, 100711, 100712, 100749, 100955, 100977, 101054, 101120]",74.690000,25.310000
2011,"[100036, 100067, 100096, 100163, 100290, 100339, 100422, 100474, 100489, 100577, 100602, 100686, 100734, 100758, 100772, 100777, 100783, 100784, 100794, 100824, 100849, 100882, 100939, 100943, 100961, 100974, 101002, 101016, 101068, 101160, 101208]",65.415806,34.584194
2012,"[100015, 100077, 100078, 100112, 100116, 100186, 100235, 100259, 100311, 100316, 100445, 100673, 100682, 100699, 100740, 100752, 100844, 100855, 100922, 100991]",74.426500,25.573500
2013,"[100004, 100109, 100329, 100340, 100496, 100543, 100639, 100833, 100949, 101082, 101193]",68.617273,31.382727
2014,"[100024, 100073, 100171, 100211, 100310, 100427, 100563, 100597, 100672]",69.325556,30.674444
2015,"[100314, 100328, 100690, 100985, 101036, 101046]",73.895000,26.105000
2016,"[100025, 100153, 100652, 100695, 100881, 100987, 101050]",62.632857,37.367143
2017,"[100169, 100298, 100504, 100556, 101091]",76.124000,23.876000
2018,"[100159, 100175, 100627, 100710, 100992]",71.134000,28.866000
2019,"[100511, 101161]",53.930000,46.070000
2020,"[100007, 100026, 100088, 100160, 100269, 100697, 100898, 101195]",69.308750,30.691250
2021,"[100141, 100180, 100356, 100429, 100507, 100934, 100951, 100966, 101049, 101139]",57.926000,42.074000
2022,"[101090, 101188]",79.380000,20.620000

In [68]:
character_word_count_data_groupped.to_pickle('analysis_data/character_word_count_data_groupped')
character_occurrence_data_groupped.to_pickle('analysis_data/character_occurrence_data_groupped')
character_count_data_groupped.to_pickle('analysis_data/character_count_data_groupped')